/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
*
*
*
*
*
End of CSS Reset file
*/

html {
  font-family: "Roboto", sans-serif;
}

input:focus {
  outline: 0;
}

form {
  display: flex;
  width: 65%;
  justify-content: center;
}

#searchbar-container {
  display: flex;
  justify-content: center;
}

#main-searchbar {
  display: flex;
  font-weight: 100;
  background-color: #f7f6f2;
  justify-content: center;
  box-sizing: border-box;
  border-radius: 20px;
  width: 100%;
  margin: 2% 0%;
  padding: 10px 15px;
  border-style: groove;
  border-color: lightgrey;
}

#results-page {
  box-sizing: border-box;
  margin: 2% 15%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.movie-display-tile {
  position: relative;
  margin: 10px 0px;
  width: 300px;
  height: 450px;
  overflow-y: hidden;
}

.movie-display-tile img {
  object-fit: contain;
  border-radius: 15px;
}
.movie-display-tile .img-description {
  top: 0;
  left: 0;
  position: absolute;
  visibility: hidden;
  opacity: 0;
}

.movie-display-tile:hover img {
  opacity: 0.1;
}

.movie-display-tile:hover .img-description {
  visibility: visible;
  opacity: 1;
  margin: 25px;
}

.movie-display-tile:hover .filler {
  opacity: 0.1;
}
.movie-display-tile:hover .filler h1 {
  visibility: hidden;
}

.movie-title {
  font-size: 2em;
  font-weight: 500;
  margin-bottom: 10px;
}

.score {
  font-weight: 700;
}

.score-paragraph {
  margin-bottom: 10px;
}

.filler {
  min-width: 300px;
  min-height: 450px;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    to bottom right,
    rgba(255, 0, 0, 0),
    rgba(255, 0, 0, 1)
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 15px;
}

.filler h1 {
  margin: 0px 10px;
  text-align: center;
}

b {
  font-weight: 700;
}

h1 {
  font-size: 2em;
}
#main-nav {
  background-color: #f8c7cc !important;
}

#main-header {
  margin: 5% 15% 2% 15%;
  font-size: 3em;
  font-weight: 100;
  text-align: center;
}

#main-description {
  margin: 1% 20%;
  font-size: 1em;
  font-weight: 100;
  text-align: center;
}
